source /boot/grub/config.cfg

# — Codebyr OS : session live (entrée par défaut) —
menuentry "Codebyr OS  —  Session live" --hotkey=c {
	linux	@KERNEL_LIVE@ @APPEND_LIVE@
	initrd	@INITRD_LIVE@
}

# Installateur (le cas échéant)
if @ENABLE_INSTALL_MENU@; then

menuentry "Installer Codebyr OS sur le disque" --hotkey=i {
	linux	@KERNEL_GI@ vga=788 @APPEND_INSTALL@ --- quiet
	initrd	@INITRD_GI@
}

submenu "Options d'installation avancées ..." --hotkey=a {

	source /boot/grub/theme.cfg

	source	/boot/grub/install.cfg

}
fi

submenu "Outils ..." --hotkey=u {

	source /boot/grub/theme.cfg

	# Memtest (le cas échéant)
	if @ENABLE_MEMTEST@; then
		source /boot/grub/memtest.cfg
	fi

	# Réglages du micrologiciel (UEFI)
	if [ "${grub_platform}" = "efi" ]; then
		menuentry "Réglages du micrologiciel (UEFI)" --hotkey=f {
			fwsetup
		}
	fi

	# Vérifier l'intégrité du support
	if @ENABLE_VERIFY_CHECKSUMS@; then
		menuentry "Vérifier l'intégrité du support de démarrage" --hotkey=v {
			linux	@KERNEL_LIVE@ @APPEND_VERIFY_CHECKSUMS@
			initrd	@INITRD_LIVE@
		}
	fi
}
