menu background splash.png
menu color title	* #FF43C7DF *
menu color border	* #00000000 #00000000 none
menu color sel		* #FF0A1318 #FF43C7DF *
menu color hotsel	1;7;37;40 #FF0A1318 #FF43C7DF *
menu color hotkey	* #FF43C7DF #00000000 *
menu color unsel	* #FFCBD8DE #00000000 *
menu color tabmsg	* #FF6E8A97 #00000000 *
menu color help		37;40 #FF93A6B0 #00000000 none
menu color timeout	* #FF93A6B0 #00000000 none
menu color timeout_msg	* #FF93A6B0 #00000000 none
menu vshift 13
menu rows 8
menu helpmsgrow 15
# The command line must be at least one line from the bottom.
menu cmdlinerow 16
menu timeoutrow 16
menu tabmsgrow 18
menu tabmsg Entrée : démarrer   ·   Tab : modifier une entrée
